



  <div class="container-fluid">
      <!-- <pre>Value: {{ descriptifsDto?.value | json }}</pre>
           <br>Dirty: {{ descriptifForm.dirty }}
          <br>Touched: {{ descriptifForm.touched }}
          <br>Valid: {{ form.valid }} -->

      <div class="row">
          <div class="col">
              <button type="button" (click)="saveDescriptif()" class="btn btn-default float-right mr-2 save-btn-m mb-2 mt-5">
                  <i class="fa fa-save"></i>
                  <b>
                      Save All
                  </b>
              </button>
              <!-- <button mat-raised-button color="primary" class="float-right mr-2 mb-2 mt-5" (click)="saveDescriptif()">Save All</button> -->
          </div>
      </div>
      <!-- reactive form -->
      <!-- <pre>{{ descriptifForm.value | json }}</pre> -->
      <div class="row">
          <div class="col">
              <form [formGroup]="descriptifForm" novalidate class="form-control-sm">
                  <div formArrayName="data">
                      <!--Accordion wrapper start here-->
                      <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                          <!-- Accordion card -->
                          <div class="card">

                              <!-- Card header -->
                              <div class="card-header" role="tab" id="headingOne">
                                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      <h5 class="mb-0">
                                          Collapsible Group Item #1
                                          <i class="fa fa-angle-down rotate-icon"></i>
                                      </h5>
                                  </a>
                              </div>

                              <!-- Card body -->
                              <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
                                  <div class="card-body">
                                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                      non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                      Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                      nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                      Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                      probably haven't heard of them accusamus labore sustainable VHS.
                                  </div>
                              </div>
                          </div>
                          <!-- Accordion card -->

                          <!-- Accordion card -->
                          <div class="card">

                              <!-- Card header -->
                              <div class="card-header" role="tab" id="headingTwo">
                                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      <h5 class="mb-0">
                                          Collapsible Group Item #2
                                          <i class="fa fa-angle-down rotate-icon"></i>
                                      </h5>
                                  </a>
                              </div>

                              <!-- Card body -->
                              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
                                  <div class="card-body">
                                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                      non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                      Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                      nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                      Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                      probably haven't heard of them accusamus labore sustainable VHS.
                                  </div>
                              </div>
                          </div>
                          <!-- Accordion card -->

                          <!-- Accordion card -->
                          <div class="card">

                              <!-- Card header -->
                              <div class="card-header" role="tab" id="headingThree">
                                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      <h5 class="mb-0">
                                          Collapsible Group Item #3
                                          <i class="fa fa-angle-down rotate-icon"></i>
                                      </h5>
                                  </a>
                              </div>

                              <!-- Card body -->
                              <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx">
                                  <div class="card-body">
                                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                      non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                      Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                      nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                      Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                      probably haven't heard of them accusamus labore sustainable VHS.
                                  </div>
                              </div>
                          </div>
                          <!-- Accordion card -->
                      </div>
                      <!--/.Accordion wrapper-->


                      <!-- <mat-accordion>
                          <mat-expansion-panel [formGroupName]="a" *ngFor="let desc of getDescriptif(descriptifForm); let a = index">
                              <mat-expansion-panel-header>
                                  {{ desc.value.Title }}
                              </mat-expansion-panel-header>

                              <ng-template matExpansionPanelContent>
                                  <div formArrayName="Groups">
                                      <div *ngIf="desc.value.Id != 69">
                                          <div [formGroupName]="b" *ngFor="let group of getGroups(desc); let b = index">
                                              <div formArrayName="Fields">
                                                  <div [formGroupName]="c" *ngFor="let field of getFields(group); let c = index">
                                                      <div [style.display]="(field.value.Type == 1 && field.value.Id == '01e0d9a6-77dd-4a2f-a8ae-d4bae6ed705d') ? 'block' : 'none'">
                                                          <div formArrayName="Answers">
                                                              <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                  <mat-form-field>
                                                                      <input matInput placeholder="{{ field.value.Label }}" formControlName="Data_FR">
                                                                  </mat-form-field>
                                                              </div>
                                                          </div>
                                                      </div>

                                                      <div [style.display]="(field.value.Type == 1 && field.value.Id == 'd2de1189-2d6c-4fc2-9567-1d0bde49ba92') ? 'block' : 'none'">
                                                          <div formArrayName="Answers">
                                                              <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                  <mat-form-field>
                                                                      <textarea matInput placeholder="{{ field.value.Label }}" formControlName="Data_FR"></textarea>
                                                                  </mat-form-field>
                                                              </div>
                                                          </div>
                                                      </div>

                                                      <div [style.display]=" field.value.Type == 1 && (!(field.value.Id == 'd2de1189-2d6c-4fc2-9567-1d0bde49ba92') && !(field.value.Id == '01e0d9a6-77dd-4a2f-a8ae-d4bae6ed705d')) ? 'block' : 'none'">
                                                          <div formArrayName="Answers">
                                                              <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                  <mat-form-field>
                                                                      <input matInput placeholder="{{ field.value.Label }}" formControlName="Data_FR">
                                                                  </mat-form-field>
                                                              </div>
                                                          </div>
                                                      </div>

                                                      <div [style.display]=" field.value.Type == 3 ? 'block' : 'none'">
                                                          <app-radiowithfreetext [field]="field"></app-radiowithfreetext>
                                                      </div>

                                                      <div [style.display]=" field.value.Type == 9 ? 'block' : 'none'">
                                                          <div formArrayName="Answers">
                                                              <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                  <mat-form-field>
                                                                      <input matInput type="number" placeholder="{{ field.value.Label }}" formControlName="Data_FR">
                                                                  </mat-form-field>
                                                              </div>
                                                          </div>
                                                      </div>

                                                      <div [style.display]=" field.value.Type == 6 ? 'block' : 'none'">
                                                          <div formArrayName="Answers">
                                                              <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                  <mat-checkbox formControlName="Data_FR">{{ field.value.Label }}</mat-checkbox>
                                                              </div>
                                                          </div>
                                                      </div>

                                                      <div [style.display]=" field.value.Type == 7 ? 'block' : 'none'">
                                                          <div formArrayName="Answers">
                                                              <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                  <mat-form-field>
                                                                      <input matInput type="date" placeholder="{{ field.value.Label }}" formControlName="Data_FR">
                                                                  </mat-form-field>
                                                              </div>
                                                          </div>
                                                      </div>

                                                      <div [style.display]=" field.value.Type == 16 ? 'block' : 'none'">
                                                          <div formArrayName="Answers">
                                                              <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                  <mat-form-field>
                                                                      <input matInput type="password" placeholder="{{ field.value.Label }} test" formControlName="Data_FR">
                                                                  </mat-form-field>
                                                              </div>
                                                          </div>
                                                      </div>

                                                      <div [style.display]=" field.value.Type == 4 ? 'block' : 'none'">
                                                          <div formArrayName="Answers">
                                                              <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                  <mat-checkbox formControlName="Data_FR">{{ field.value.Label }}</mat-checkbox>
                                                              </div>
                                                          </div>
                                                      </div>

                                                      <div [style.display]=" field.value.Type == 5 ? 'block' : 'none'">
                                                          <label class="label-ellipsis">
                                                              <b>{{ field.value.Label }} </b>
                                                          </label>
                                                          <div formArrayName="Answers">
                                                              <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="Data_FR">
                                                                      <mat-button-toggle value="True">True</mat-button-toggle>
                                                                      <mat-button-toggle value="null">null</mat-button-toggle>
                                                                      <mat-button-toggle value="False">False</mat-button-toggle>
                                                                  </mat-button-toggle-group>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div *ngIf="desc.value.Id == 69">
                                          <button mat-raised-button (click)="openDialog(desc)" class="mb-1">New</button>
                                          <mat-accordion>
                                              <mat-expansion-panel [formGroupName]="b" *ngFor="let group of getGroups(desc); let b = index">
                                                  <mat-expansion-panel-header>
                                                      <mat-panel-title>
                                                          {{ group.value.Title }}
                                                          <mat-icon *ngIf="b != 0" class="ml-2 mr-2" (click)="edit(group)">edit</mat-icon>
                                                          <mat-icon *ngIf="b != 0" (click)="delete(group)">delete</mat-icon>
                                                      </mat-panel-title>
                                                  </mat-expansion-panel-header>
                                                  <div formArrayName="Fields">
                                                      <div [formGroupName]="c" *ngFor="let field of getFields(group); let c = index">
                                                          <div [style.display]="(field.value.Type == 1 && field.value.Id == '01e0d9a6-77dd-4a2f-a8ae-d4bae6ed705d') ? 'block' : 'none'">
                                                              <div formArrayName="Answers">
                                                                  <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                      <mat-form-field>
                                                                          <input matInput placeholder="{{ field.value.Label }}" formControlName="Data_FR">
                                                                      </mat-form-field>
                                                                  </div>
                                                              </div>
                                                          </div>

                                                          <div [style.display]="(field.value.Type == 1 && field.value.Id == 'd2de1189-2d6c-4fc2-9567-1d0bde49ba92') ? 'block' : 'none'">
                                                              <div formArrayName="Answers">
                                                                  <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                      <mat-form-field>
                                                                          <textarea matInput placeholder="{{ field.value.Label }}" formControlName="Data_FR"></textarea>
                                                                      </mat-form-field>
                                                                  </div>
                                                              </div>
                                                          </div>

                                                          <div [style.display]=" field.value.Type == 1 && (!(field.value.Id == 'd2de1189-2d6c-4fc2-9567-1d0bde49ba92') && !(field.value.Id == '01e0d9a6-77dd-4a2f-a8ae-d4bae6ed705d')) ? 'block' : 'none'">
                                                              <div formArrayName="Answers">
                                                                  <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                      <mat-form-field>
                                                                          <input matInput placeholder="{{ field.value.Label }}" formControlName="Data_FR">
                                                                      </mat-form-field>
                                                                  </div>
                                                              </div>
                                                          </div>

                                                          <div [style.display]=" field.value.Type == 3 ? 'block' : 'none'">
                                                              <app-radiowithfreetext [field]="field"></app-radiowithfreetext>
                                                          </div>

                                                          <div [style.display]=" field.value.Type == 9 ? 'block' : 'none'">
                                                              <div formArrayName="Answers">
                                                                  <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                      <mat-form-field>
                                                                          <input matInput type="number" placeholder="{{ field.value.Label }}" formControlName="Data_FR">
                                                                      </mat-form-field>
                                                                  </div>
                                                              </div>
                                                          </div>

                                                          <div [style.display]=" field.value.Type == 6 ? 'block' : 'none'">
                                                              <div formArrayName="Answers">
                                                                  <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                      <mat-checkbox formControlName="Data_FR">{{ field.value.Label }}</mat-checkbox>
                                                                  </div>
                                                              </div>
                                                          </div>

                                                          <div [style.display]=" field.value.Type == 7 ? 'block' : 'none'">
                                                              <div formArrayName="Answers">
                                                                  <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                      <mat-form-field>
                                                                          <input matInput type="date" placeholder="{{ field.value.Label }}" formControlName="Data_FR">
                                                                      </mat-form-field>
                                                                  </div>
                                                              </div>
                                                          </div>

                                                          <div [style.display]=" field.value.Type == 16 ? 'block' : 'none'">
                                                              <div formArrayName="Answers">
                                                                  <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                      <mat-form-field>
                                                                          <input matInput type="password" placeholder="{{ field.value.Label }} test" formControlName="Data_FR">
                                                                      </mat-form-field>
                                                                  </div>
                                                              </div>
                                                          </div>

                                                          <div [style.display]=" field.value.Type == 4 ? 'block' : 'none'">
                                                              <div formArrayName="Answers">
                                                                  <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                      <mat-checkbox formControlName="Data_FR">{{ field.value.Label }}</mat-checkbox>
                                                                  </div>
                                                              </div>
                                                          </div>

                                                          <div [style.display]=" field.value.Type == 5 ? 'block' : 'none'">
                                                              <label class="label-ellipsis">
                                                                  <b>{{ field.value.Label }} </b>
                                                              </label>
                                                              <div formArrayName="Answers">
                                                                  <div [formGroupName]="d" *ngFor="let answer of getAnswers(field); let d = index">
                                                                      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="Data_FR">
                                                                          <mat-button-toggle value="True">True</mat-button-toggle>
                                                                          <mat-button-toggle value="null">null</mat-button-toggle>
                                                                          <mat-button-toggle value="False">False</mat-button-toggle>
                                                                      </mat-button-toggle-group>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </mat-expansion-panel>
                                          </mat-accordion>
                                      </div>
                                  </div>
                              </ng-template>
                          </mat-expansion-panel>
                      </mat-accordion> -->
                  </div>
              </form>
          </div>
      </div>
  </div>
